@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Feature flag demo</h1>

@if (!Model.UserId.HasValue)
{
    <form asp-controller="User" asp-action="Signup" method="post">
        <button type="submit" class="btn btn-primary">Create user</button>
    </form>
}
else
{
    <div>
        <h2>Feature configuration</h2>
        <strong>Preferred app version</strong>
        <form asp-controller="Feature" asp-action="SetPreferredAppVersion" method="post">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Stable" name="appVersion" value="Stable" checked="@(Model.PreferredAppVersion == Data.AppVersion.Stable)" />
                <label class="form-check-label" for="Stable">Stable</label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Beta" name="appVersion" value="Beta" checked="@(Model.PreferredAppVersion == Data.AppVersion.Beta)" />
                <label class="form-check-label" for="Beta">Beta</label>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top:8px">Save</button>
        </form>

        <hr />

        <strong>Opt-in features</strong>
        @if (Model.OptInFeatures.Count == 0)
        {
            <p>None available at the moment.</p>
        }
        else
        {
            <form asp-controller="Feature" asp-action="SetOptInFeatures" method="post">
                @foreach (var (feature, optedIn) in Model.OptInFeatures)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@feature" name="@feature" checked="@optedIn" />
                        <label class="form-check-label" for="@feature">@feature</label>
                    </div>
                }
                <button type="submit" class="btn btn-primary" style="margin-top:8px">Save</button>
            </form>
        }

        <hr />

        <feature name="@FeatureFlags.Features.UserGreeting">
            <h3>Hello user!</h3>
            <p>This is only visible to some users</p>
            <br />
            <br />
        </feature>

        <feature name="@FeatureFlags.Features.NewsSummary">
            <h2>Latest news</h2>
            <ul>
                <li>Breaking News: Galactic Empire Confirms Destruction of Death Star, Blames Rogue Jedi Group</li>
                <li>Scientists Discover New Element: Unobtainium, Capable of Defying Gravity and Revolutionizing Transportation</li>
                <li>World Leaders Admit to Secretly Being Controlled by Extraterrestrial Overlords for Decades</li>
                <li>Time Travel Proven Possible: Future Historians Arrive to Warn Us About Imminent Dangers of AI</li>
                <li>Atlantis Found: Underwater City Reveals Advanced Ancient Civilization and Hidden Treasure Trove</li>
            </ul>
            <hr />
        </feature>

        <p>Your user id: @Model.UserId.Value</p>
        <form asp-controller="User" asp-action="RegenerateId" method="post">
            <button type="submit" class="btn btn-primary">Regenerate id</button>
        </form>
    </div>
}
